<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Agenda</title>
</head>

<body>

    <section class="container">

        <div class="iphone-x">

            <div class="iphone-nav-top">
                <p>9:59</p>
                <div class="iphone-nav-icons">
                    <i class="fas fa-signal spacing-notch"></i>
                    <i class="fas fa-wifi"></i>
                    <i class="fas fa-battery-full"></i>
                </div>
            </div>

            <div class="screen-content">
                <% if(!user) { %>
                    <div class="top-bar">
                        <a href="/register/index">Register</a>
                        <h1 class="schedule-h1">Schedule</h1>
                        <a href="/login/index">Log In</a>
                    </div>
                    <% } else { %>
                        <div class="top-bar">
                            <h1 class="schedule-h1">Schedule</h1>
                            <a href="/login/logout">Log out</a>
                        </div>
                        <% } %>

                            <div class="contact-title">
                                <h2>Your contacts</h2>
                                <div class="line"></div>
                                <% if(user) { %>
                                    <a href="contact/index"><i class="fas fa-plus"></i></a>
                                    <% } %>
                            </div>

                            <% contatos.forEach(contato => {%>
                                <div class="contact-tile">
                                    <div class="contact-icon">
                                        <i class="far fa-user-circle"></i>
                                    </div>

                                    <div class="contact-data">
                                        <p>
                                            <%= contato.fullName %>
                                        </p>
                                        <p>
                                            <%= contato.phone %>
                                        </p>
                                        <p>
                                            <%= contato.email %>
                                        </p>
                                    </div>

                                    <div class="contact-icon-arrow">
                                        <a href="/contact/index/<%= contato.id %>"><i class="fas fa-arrow-right space1"></i></a>
                                        <a href="/contact/delete/<%= contato.id%>"><i class="far fa-minus-square space2"></i></a>
                                    </div>
                                </div>
                                <% }); %>
            </div>
            <div class="iphone-line"></div>
        </div>

    </section>

    <script src="https://kit.fontawesome.com/313dbfcd46.js" crossorigin="anonymous"></script>
    <script src="./assets/js/bundle.js">
    </script>
</body>

</html>